<html>
  <head>
   <title>Energy System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
  
   <div class="jumbotron text-center">
  <h1>Energy Systems DropTheTable AG</h1>
  <img height="200" src="http://www.myiconfinder.com/uploads/iconsets/256-256-2f02835f3143db3db800d7da1165bf01.png" />
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:red;">Producer</h3>
     <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Location</th>
      <th scope="col">Feed (kW)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Windkraftanlage 1</td>
      <td>Bremen</td>
      <td>156000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Windkraftanlage 2</td>
      <td>Kiel </td>
      <td>156000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Solaranlage 4</td>
      <td>Freiburg</td>
      <td>6000</td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Windkraftanlage 3</td>
        <td>Bremen</td>
        <td>156000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Windkraftanlage 4</td>
        <td>Kiel </td>
        <td>156000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Solaranlage 2</td>
        <td>Freiburg</td>
        <td>6500</td>
      </tr>
  </tbody>
</table>
<h3 style="color:green;">Consumer</h3> 
     <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Location</th>
      <th scope="col">Consumption</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Peter</td>
      <td>Berlin</td>
      <td>4000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Berlin</td>
      <td>2000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Berlin</td>
      <td>1000</td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Verbraucher Type1</td>
        <td>Berlin</td>
        <td>4000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Berlin</td>
        <td>2000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Berlin</td>
        <td>1000</td>
      </tr>
  </tbody>
</table>
    </div>
    <div class="col-sm-4">
      <h3>Graph Network</h3>
      <img height="700" src="{{url_for('static', filename='graph.png')}}" />
    </div>
  </div>
</div>
  </body>
</html>